# this file only takes effect if you run command in the `tests` folder
# in order to support PyCharm test default config: Working directory is in the tests folder

[run]
omit =
  */migrations/*
  */__version__.py
  */tests/*
  */tests.py
  */setup.py
  */setup.cfg
  */.tox/*
  */.venv/*

[report]
exclude_lines =
  pragma: no cover
  def __repr__
  if TYPE_CHECKING
  raise AssertionError
  raise NotImplementedError
  if 0:
  if __name__ == .__main__.:
  class .*\bProtocol\):
  @(abc\.)?abstractmethod
